:root {
  --leftballs: brown;
  --rightballs: black;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0.5vh;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sidebar {
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  display: block;
}
.open-btn {
  font-size: 20px;
  cursor: pointer;
  background: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}
.open-btn:hover {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  display: block;
  background-color: #555;
}
nav {
  background: black;
  padding: 0.5rem;

  box-shadow: black;
  color: gold;
}
nav a {
  color: gold;
  justify-content: right;

  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: red;
}

.title-block {
  flex: 1; /* takes full width */
  text-align: center; /* centers the text */
  color: gold;
}
main {
  display: flex;
  padding: 20px;
  background-color: #333;
}

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start; /* LEFT SIDE */
}

.map-container {
  width: 50vw; /* or 125vh like you had, this is cleaner */
  height: 70vh;
  overflow: hidden;
  border: 2px solid #333;
  position: relative;
  cursor: grab;
  background: white; /* white space around image */

  border-radius: 10px;
}

.map-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
  transition: transform 0.2s ease;
}

.interactive-container {
  width: 80vw;
  height: 70vh;
  overflow: hidden;
  border: 2px solid #333;
  position: relative;
  cursor: grab;
  border-radius: 10px;
  background-color: #444;
}

.searchtab {
  display: flex-box;
  justify-content: flex-end;
}
.searchtab:hover {
  cursor: pointer;
}

.header-container {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px;
  display: inline-block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #800000;
  padding: 8px 16px;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 6px;
}
